.layout{

    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100vh;

}

.header{

    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #afafaf;

}

.header a{

    background-color: #dda711;
    padding: 20px 40px;
    font-size: 16pt;
    border-radius: 12px;

}

.header h1{

    margin:0;
    font-size: 1.8rem;

}

.content{


    padding: 10px 20px;
    background-color: #ccc;
    height: 100vh;
    font-size: 18pt;

}